.App {
  text-align: center;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
button{
  margin: 30px;
  padding: 20px;
  border: 2px solid black;
  background-color: green;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: inset 0 0 1em gold, 0 0 1em red;
  cursor: pointer;
  will-change: transform;
  transition: transform 1s ease-out;
  border-radius: 20%;
}
button:hover{
  background-color: rgb(27, 192, 27);
  box-shadow: inset 0 0 1em rgb(224, 192, 10), 0 0 1em rgb(233, 7, 7);
  transform:  translateY(15px);
}

